@import "tailwindcss";

.triodion-regular {
    font-family: "Chokokutai", system-ui;

 
}


@keyframes slide-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.anim {
  animation: slide-left-to-right 9s linear infinite;
}